@model IEnumerable<WebInventoryProject.Models.invDirectPurchaseMaster>

@{
    ViewBag.Title = "IndexInvDirectPurchase";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h2>IndexInvDirectPurchase</h2>

<br />
<br />
<br />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').dataTable();
        });
    </script>
</head>
<body>
    <div>
        <a style="margin-right:30px" class="btn btn-primary pull-right" href="@Url.Action("InvDirectPurchaseMasterDetail","MasterDetail")"><i class="fa fa-plus"></i> Add Direct Purchase</a>
    </div>

    <div id="page-wrapper">
        <div class="main-page login-page " style="width:90%;margin-top:-25px;">
            <div class="widget-shadow">
                <div class="login-body bg-light">
                    @Html.Partial("MessageAlert")
                    <h2 class="title1">Direct Purchase Master Detail</h2>
                    <br />
                    <div>

                        <div class="table_bordered" width="600px;">
                            <table class="table table-striped table-bordered" id="myTable">
                                <thead>
                                    <tr>
                                        <th>
                                            DP Date
                                        </th>
                                        <th>
                                            DP No
                                        </th>
                                        <th>
                                            Branch
                                        </th>
                                        <th>
                                            Department
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.directPurchaseDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.directPurchaseNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.settingBranch.branchName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.settingDepartment.departmentName)
                                        </td>


                                        <td>
                                            <button class="btn btn-xs btn-default">@Html.ActionLink("View Details", "InvDirectPurchaseDetails", new { directPurchaseId = item.directPurchaseId }, new { Style = "color:White" })</button>   |

                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>







                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





