@using WebInventoryProject.ViewModel
@model invPhysicalStockMasterDetailViewModel

@{
    ViewBag.Title = "InvPhysicalStockMasterDetail";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h2>InvPhysicalStockMasterDetail</h2>



<div class="modal fade" id="newOrderModal">
    <div class="modal-dialog modal-lg" style=" width : 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>

            </div>
            <form id="NewOrderForm">
                <div class="modal-body">

                    <h5 style="color:#ff6347">Physical Stock Master</h5>
                    <hr />
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-10" typeof="hi">
                                @Html.HiddenFor(m => m.invPhysicalStockMaster.psId, new { htmlAttributes = new { @class = "form-control", @id = "openInvId" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">
                                PO Date
                            </label>
                            @if (Model.UserType == "Admin")
                            {

                                <div class="col-md-4">
                                    <input type="date" class="form-control" name="psDate" id="psDate" required="required" />

                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.psDate, "{0:yyyy-MM-dd}", new { @type = "date", @id = "psDate", @style = "width: 270px;", @readonly = "readonly", @disabled = "disabled" })
                                </div>
                            }
                            <label class="control-label col-md-2">
                                PO No
                            </label>
                            <div class="col-md-4">
                                <input type="number" class="form-control" name="psNo" id="psNo" required="required" />

                            </div>

                        </div>
                        @if (Model.UserType == "Admin")
                        {


                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Branch
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.invPhysicalStockMaster.BranchId, new SelectList(Model.settingBranches, "branchId", "branchName"), "Select Branch", new { @id = "branchId", @style = "width: 270px;" })
                                    @Html.ValidationMessageFor(m => m.invPhysicalStockMaster.BranchId, "", new { @class = "text-danger" })
                                </div>

                                <label class="control-label col-md-2">
                                    Department
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.invPhysicalStockMaster.DepartmentId, new SelectList(Model.settingDepartments, "departmentId", "departmentName"), "Select Department", new { @id = "departmentId", @style = "width: 270px;" })
                                    @Html.ValidationMessageFor(m => m.invPhysicalStockMaster.DepartmentId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Branch
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.settingBr.branchName, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @id = "branchId", @style = "width: 270px;" } })
                                    @Html.ValidationMessageFor(m => m.settingBr.branchName, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">
                                    Department
                                </label>

                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.settingDept.departmentName, new { htmlAttributes = new { disabled = "disabled", @readonly = "readonly", @id = "departmentId", @style = "width: 270px;" } })
                                    @Html.ValidationMessageFor(m => m.settingDept.departmentName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        }

                        <div class="form-group">


                            <div class="col-md-10" typeof="hi">
                                @Html.HiddenFor(model => model.invPhysicalStockMaster.dateTime, new { htmlAttributes = new { @class = "form-control", @id = "dateTime" } })
                            </div>
                            <div class="col-md-10" typeof="hi">
                                @Html.HiddenFor(model => model.invPhysicalStockMaster.modifiedDate, new { htmlAttributes = new { @class = "form-control", @id = "modifiedDate" } })
                            </div>
                            <div class="col-md-10" typeof="hi">
                                @Html.HiddenFor(model => model.invPhysicalStockMaster.modifiedBy, new { htmlAttributes = new { @class = "form-control", @id = "modifiedBy" } })
                            </div>
                            <div class="col-md-10" typeof="hi">
                                @Html.HiddenFor(model => model.invPhysicalStockMaster.isPost, new { htmlAttributes = new { @class = "form-control", @id = "isPost" } })
                            </div>
                        </div>


                        <h5 style="margin-top:10px;color:#ff6347">Physical Stock Details</h5>
                        <hr />
                        <div class="form-horizontal">
                            <input type="hidden" id="OrderId" />
                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Item
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.invPhysicalStockDetail.itemId, new SelectList(Model.settingItems, "itemId", "itemName"), "Select Item", new { @id = "ItemId", @style = "width: 270px;" })
                                    @Html.ValidationMessageFor(m => m.invPhysicalStockDetail.itemId, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2">
                                    Unit
                                </label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.invPhysicalStockDetail.unitId, new SelectList(Model.settingUnit, "unitId", "unitName"), "Select Unit", new { @id = "unitId", @style = "width: 270px;" })
                                    @Html.ValidationMessageFor(m => m.invPhysicalStockDetail.unitId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2">
                                    Quantity
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.invPhysicalStockDetail.qty, new { htmlAttributes = new { @id = "qty",@style="width:270px",@type="Number" }})
                                </div>
                                <label class="control-label col-md-2">
                                    Rate
                                </label>
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.invPhysicalStockDetail.rate, new { htmlAttributes = new { @id = "rate", @style = "width:270px", @type = "Number" } })
                                </div>
                                <div class="col-md-2 pull-right">
                                    <a id="addToList" class="btn btn-primary">Add To List</a>
                                </div>
                            </div>

                            <table id="detailsTable" class="table">
                                <thead>
                                    <tr>
                                        <th style="width:30%">Item</th>
                                        <th style="width:10%">Unit</th>
                                        <th style="width:25%">Qty</th>
                                        <th style="width:25%">Rate</th>

                                        <th style="width:10%;visibility:hidden;">itemid</th>
                                        <th style="width:10%;visibility:hidden;">unitId</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="saveDemand" type="submit" class="btn btn-danger">Save Order</button>
                    </div>
            </form>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {

        $("#newOrderModal").modal();
        return false;
    });


    $('#addToList').click(function (e) {

        e.preventDefault();
        if ($('#ItemId').val() == "" || $('#unitId').val() == "" || $('#qty').val() == "" || $('#rate').val() == "") return;
        alert('i am here')
        ItemName = $('#ItemId option:selected').text();
        unitName = $('#unitId option:selected').text();
        qty = $('#qty').val();
        rate = $('#rate').val();
        itemId = $('#ItemId option:selected').val();
        unitId = $('#unitId option:selected').val();

            detailsTableBody = $('#detailsTable tbody');

        var GetProducts = '<tr><td>' + ItemName + '</td><td>' + unitName + '</td><td>' + qty + '</td><td>' + (parseFloat(rate) * parseInt(qty)) + '</td><td style="width:0%;visibility:hidden;">' + itemId + '</td><td style="width:0%;visibility:hidden;" >' + unitId + '</td><td><a data-itemId="0" href="#" class="deleteItem" >Remove</a></td></tr>'

        detailsTableBody.append(GetProducts);
        clearItem();

    })


    $(document).on('click', 'a.deleteItem', function () {
        $(this).parents('tr').css("background-color", "red").fadeOut(800, function () {
            $(this).remove('tr');
        })
    })

    //After Add A New Order In The List, Clear Clean The Form For Add More Order.
    function clearItem() {

        $('#qty').val('');
        $('#rate').val('');
        $("#ItemId").val('');
        $("#unitId").val('');
    }
    // After Add A New Order In The List, If You Want, You Can Remove It.
    // by NOOR
    function saveDemand(data) {
        return $.ajax
            ({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/MasterDetail/InvPhysicalStockMasterDetail",
                data: data,
                success: function (result) {

                    window.location.replace("/MasterDetail/IndexInvPhysicalStock");
                },
                error: function () {
                    alert('Error!');
                },

            });
    }

    //Collect Multiple Order List For Pass To Controller //BY ARTICLE


    //pass data from view to controller BY NOOR
    $('#saveDemand').click(function (e) {
        if ($('#psDate').val() == "" || $('#psNo').val() == "" || $('#branchId').val() == "" || $('#departmentId').val() == "") return;
        e.preventDefault();
        var OpeningMasterArray = {};
        if (OpeningMasterArray.length = 0)
        {
            return false;
        }
        var PSDetailsArray = [];
        PSDetailsArray.length = 0;

        $.each($('#detailsTable tbody tr'), function () {
            PSDetailsArray.push({
                qty: $(this).find('td:eq(2)').html(),
                rate: $(this).find('td:eq(3)').html(),
                itemId: $(this).find('td:eq(4)').html(),
                unitId: $(this).find('td:eq(5)').html(),

            });
        });
        var PS_MasterArray =
        {
            psId: $('#@Html.IdFor(m => m.invPhysicalStockMaster.psId)').val(),
            psNo: $('#psNo').val(),
            psDate: $('#psDate').val(),
            branchId: $('#branchId option:selected').val(),
            departmentId: $('#departmentId option:selected').val(),
        }

        var PSMasterArray = new Array();
        PSMasterArray = PS_MasterArray;
        var PSDetailArray = new Array();
        PSDetailArray = PSDetailsArray;
        alert(PSMasterArray);
        alert(PSDetailArray);
        var data = JSON.stringify
            ({
                MasterArray: PSMasterArray,
                DetailArray: PSDetailArray,
            });

        $.when(saveDemand(data)).then(function (response) {
            console.log(response);
        }).fail(function (err) {
            console.log(err);
        });

    });

                            //After Click Save Button Pass All Data View To Controller For Save Database



</script>
<style>
    .css-serial {
        counter-reset: serial-number; /* Set the serial number counter to 0 */
    }

        .css-serial td:first-child:before {
            counter-increment: serial-number; /* Increment the serial number counter */
            content: counter(serial-number); /* Display the counter */
        }


    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
    }

        .card > hr {
            margin-right: 0;
            margin-left: 0;
        }

        .card > .list-group:first-child .list-group-item:first-child {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

        .card > .list-group:last-child .list-group-item:last-child {
            border-bottom-right-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

    .card-body {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
    }

    .card-title {
        margin-bottom: 0.75rem;
    }

    .card-subtitle {
        margin-top: -0.375rem;
        margin-bottom: 0;
    }

    .card-text:last-child {
        margin-bottom: 0;
    }

    .card-link:hover {
        text-decoration: none;
    }

    .card-link + .card-link {
        margin-left: 1.25rem;
    }

    .card-header {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0.03);
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }

        .card-header:first-child {
            border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        }

        .card-header + .list-group .list-group-item:first-child {
            border-top: 0;
        }
</style>

